<form action="/offers">
  <p>
    <label for="uid">User Id</label><input id="uid" name="offer[uid]" type="text" />
  </p>
  <p>
    <label for="pub0">Pub0</label><input id="pub0" name="offer[pub0]" type="text" />
  </p>
  <p>
    <label for="page">Page</label><input id="page" name="offer[page]" type="text" />
  </p>
  <p>
    <input type="submit" value="Search" />
  </p>
</form>
